:root {
  --primary-text-color: rgba(255, 255, 255, 0.8);
  --title-text-color: #e7e7e7;
  --accent-color: #df3d3a;
  --bg-color: #191919;
  --secondary-bg: #f5f4fa;
  --footer-bg: #2f303a;
  --icons-color: #afb1b8;

  --indent: 30px;
  --items: 3;
}
