<section class="able">
  <div class="able__container container">
    <h2 class="able__title title">способны на многое</h2>
    <div class="able__wrap">
      <ul class="able__list">
        <li class="able__text text">Возможность принимать звонки</li>
        <li class="able__text text">Насыщенное и мощное звучание</li>
        <li class="able__text text">Опция активного шумоподавления</li>
      </ul>
      <ul class="able__list">
        <li class="able__text text">Непревзойденная система микрофонов</li>
        <li class="able__text text">Поддержка голосовых помощников</li>
        <li class="able__text text">
          Аудиоплатформа дополненной реальности Bose AR
        </li>
      </ul>
    </div>
  </div>
</section>
