<header class="header">
  <div class="header__container container">
    <a class="header__logo" href="./index.html">
      <img src="./images/header/logo.svg" alt="logo" />
    </a>
    <nav class="header__nav">
      <ul class="header__menu">
        <li class="header__menu-item">
          <a href="" class="header__link">Характеристики</a>
        </li>
        <li class="header__menu-item">
          <a href="" class="header__link">История</a>
        </li>
        <li class="header__menu-item">
          <a href="" class="header__link">Отзывы</a>
        </li>
        <li class="header__menu-item">
          <a href="" class="header__link">Оплата и доставка</a>
        </li>
      </ul>
    </nav>
    <button class="header__menu-button">
      <img src="./images/header/menu.svg" alt="logo" />
    </button>
  </div>
</header>
