<section class="hero">
  <div class="hero__container container">
    <ul class="hero__list">
      <li class="hero__item">
        <p class="hero__text text">
          Наушники с шумоподавлением,<br />
          которые способны на многое
        </p>
      </li>
      <li class="hero__item">
        <p class="hero__text text">
          До 20 часов<br />
          воспроизведения
        </p>
      </li>
    </ul>
    <h1 class="hero__title">
      Наушники<br />
      Bose NC 700
    </h1>
    <button class="hero__btn">Заказать</button>
    <img src="./images/hero/hero.jpg" alt="hero" />
  </div>
</section>
