<section class="hero">
  <div class="hero__container container">
    <div class="hero__body">
      <ul class="hero__list">
        <li class="hero__item">
          <p class="hero__text text">
            Наушники с шумоподавлением,<br />
            которые способны на многое
          </p>
        </li>
        <li class="hero__item">
          <p class="hero__text text">
            До 20 часов<br />
            воспроизведения
          </p>
        </li>
      </ul>
      <h1 class="hero__title">
        Наушники<br />
        Bose NC 700
      </h1>
      <button class="hero__btn">Заказать</button>
    </div>
    <picture class="hero__image">
      <source
        srcset="./images/hero/hero-desktop.jpg 1x"
        media="(min-width: 1440px)"
      />
      <source
        srcset="./images/hero/hero-tablet.jpg 1x"
        media="(min-width: 768px)"
      />
      <source srcset="./images/hero/hero.jpg 1x" media="(max-width: 767px)" />
      <img src="./images/hero/hero.jpg" alt="bose" />
    </picture>

    <!-- <img class="hero__image" src="./images/hero/hero.jpg" alt="hero" /> -->
  </div>
</section>
