<section class="silence">
  <div class="silence__container container">
    <h2 class="silence__title title">Роскошь тишины</h2>
    <picture class="silence__image">
      <source
        srcset="./images/silence/img-desktop.jpg 1x"
        media="(min-width: 1440px)"
      />
      <source
        srcset="./images/silence/img-tablet.jpg 1x"
        media="(min-width: 768px)"
      />
      <source srcset="./images/silence/img.jpg 1x" media="(max-width: 767px)" />
      <img src="./images/silence/img.jpg" alt="silence" />
    </picture>
    <ul class="silence__list">
      <li class="silence__item">
        <h3 class="silence__subtitle subtitle">Максимальное наслаждение</h3>
        <p class="silence__text text">
          Для того чтобы создать комфортную атмосферу — поднимайте уровень за
          уровнем от "прозрачного" режима до максимального блокирования звуков.
          Режим разговора можно активировать в один клик с помощью специальной
          кнопки.
        </p>
      </li>
      <li class="silence__item">
        <h3 class="silence__subtitle subtitle">Хрустальный звук</h3>
        <p class="silence__text text">
          Система динамиков и фирменный активный эквалайзер способны обеспечить
          качественный и мощный звук на любом уровне громкости. Вы можете быть
          уверены в отсутствии искажений и кристальной чистоте высоких и низких
          частот.
        </p>
      </li>
    </ul>
  </div>
</section>
